/* definindo nosso estilo do projeto */

@charset "utf8";

.fundofixo {
    background: url('../images/churrascaria.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.fundo-branco {
    background-color: aliceblue;
}

.anuncio-reservas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(148, 0, 0);
    padding: 1rem;
    text-align: center;
    color: aliceblue;
  }

.reservas {
    background-color: rgb(223, 4, 4);
    color: rgb(221, 214, 214);
}

.reservas:hover {
    background-color: rgb(148, 0, 0);
}